<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="China FreeBSD" />
	<meta name="keywords" content="China FreeBSD nBLOG nWIKI nCMS" />
	<meta name="author" content="China FreeBSD" />
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*">  
	<title>{% block inTitle %}China FreeBSD{% endblock %}</title>
 	<link rel="stylesheet" href="//at.alicdn.com/t/font_418836_42k8vtq2myflmcxr.css" />
	<link rel="stylesheet" href="{{baseURL}}/own/R.css?v=1.0.0" />
	<link rel="stylesheet" href="{{baseURL}}/css/nblog.css?v=1.0.0" />
	<link rel="stylesheet" href="{{baseURL}}/css/docbook.css" />
	{% block toHead %}{% endblock %}
</head>
<body>
{% block inBody %}

{% block Header %}<header class="a flex">{% block inHeader %}
<div class="b-m-0 c-m-10 d-m-30 e-m-50 f-m-80 g-m-120">
	<figure>
		<img src="{{baseURL}}/images/logo1.png">
		<figcaption><a href="{{baseURL}}">China FreeBSD</a></figcaption>
	</figure >
</div>

<div class="margin-left-auto flex">
	<form action="/search">
		<input type="text" name="key" placeholder="标题搜索"/>
	</form>
	{% include "public/login-bar.html" %}
</div>
{% endblock %}</header>{% endblock %}




{% block Nav %}<nav class="a decoration-none">{% block inNav %}
<ul class="b-m-0 c-m-10 d-m-30 e-m-50 f-m-80 g-m-120">
	<li><a href="{{baseURL}}/">首页</a></li>
	<li><a href="{{baseURL}}/search">文档</a></li>
	<li><a href="{{baseURL}}/article/chinafreebsd-resouce">本站源</a></li>
	<li><a href="{{baseURL}}/article/chinafreebsd-memorabilia">大事记</a></li>
	<li><a href="{{baseURL}}/article/chinafreebsd-about">关于</a></li>
	<li><a href="{{baseURL}}/donation">捐赠</a></li>
</ul>
{% endblock %}</nav>{% endblock %}




{% block Main %}<main class="a flex a-m-0 d-m-50 e-m-80 f-m-120 g-m-180">{% block inMain %}
<div class="left a-1-1 c-1-3 d-1-4 e-1-5 f-1-6">
	{% block inLeft %}{% endblock %}
</div>

<div class="right a-1-1 c-2-3 d-3-4 e-4-5 f-5-6">
	{% block inRight %}{% endblock %}
</div>
{% endblock %}</main>{% endblock %}




{% block Footer %}<footer class="a">{% block inFooter %}
<h4 class="bsd text-center">The copyright (c) belong to China FreeBSD 2017-2030. All rights reserved.</h4>

<b class="back-to-top" id="gotop">︽</b>

{% endblock %}</footer>{% endblock %}

{% endblock %}

<script type="text/javascript" src="{{baseURL}}/own/R.js?v=1.0.0"></script>
<script type="text/javascript" src="{{baseURL}}/own/Panel.js?v=1.0.0"></script>
<script type="text/javascript" src="{{baseURL}}/js/nblog.js?v=1.0.0"></script>
{% block toBody %}{% endblock %}

</body>
</html>
