<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="China FreeBSD" />
	<meta name="keywords" content="China FreeBSD nBLOG nWIKI nCMS" />
	<meta name="author" content="China FreeBSD" />
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*">  
	<title>{% block inTitle %}China FreeBSD{% endblock %}</title>
 	<link rel="stylesheet" href="//at.alicdn.com/t/font_418836_42k8vtq2myflmcxr.css" />
	<link rel="stylesheet" href="{{ baseURL }}/css/nblog.css?v=1.0.0" />
	<link rel="stylesheet" href="{{ baseURL }}/own/R.css?v=1.0.0" />
	{% block toHead %}{% endblock %}
</head>
<body>


{% block Header %}<header class="a flex">{% block inHeader %}
<div class="b-m-0 c-m-10 d-m-30 e-m-50 f-m-70">
	<figure>
		<img src="{{ baseURL }}/images/logo1.png">
		<figcaption><a href="{{ baseURL }}">China FreeBSD</a></figcaption>
	</figure >
</div>

<div class="flex1">
	<ul>
		<li><i class="iconfont icon-search gray"></i><input type="text" name="search" placeholder="search"></li>
		{% if (login) %}
			<li><a href="{{ baseURL }}/user"><i class="iconfont icon-seeuser"> </i> {{ login }}</a></li>
			<li><a href="{{ baseURL }}/user/article/edit">添加</a></li>
			<li><a href="{{ baseURL }}/user/manage">管理</a></li>
			<li><a href="{{ baseURL }}/logout">退出</a></li>
		{% else %}
		<li><a href="{{ baseURL }}/regist">注册</a></li>
		<li><a href="{{ baseURL }}/login">登录</a></li>
		{% endif %}
	</ul>
</div>
{% endblock %}</header>{% endblock %}




{% block Nav %}<nav class="a">{% block inNav %}
<ul class="b-m-0 c-m-10 d-m-30 e-m-50 f-m-80">
	<li><a href="{{ baseURL }}/">首页</a></li>
	<li><a href="https://www.freebsd.org/docs.html">文档</a></li>
	<li><a href="{{ baseURL }}/article/list">文档列表</a></li>
	<li><a href="{{ baseURL }}/">帮助</a></li>
	<li><a href="{{ baseURL }}/">赞助</a></li>
	<li><a href="https://www.chinafreebsd.cn/index.php?title=WiKi%E8%AF%AD%E6%B3%95">freebsd样式</a></li>
</ul>
{% endblock %}</nav>{% endblock %}




{% block Main %}<main class="a flex b-p-0 c-p-5 d-p-50 e-p-80">{% block inMain %}
<div class="left a-1-1 c-1-3 d-1-4 e-1-5 f-1-6">
	{% block inLeft %}{% endblock %}
</div>

<div class="right flex1">
	{% block inRight %}{% endblock %}
</div>
{% endblock %}</main>{% endblock %}




{% block Footer %}<footer class="a">{% block inFooter %}
<h5>The site's copyright (c) belong to China FreeBSD 2017-2030. All rights reserved.</h5>
<!--尾部模板-->
<!-- div class="back-to-top" id="gotop">
	<i class="iconfont icon-top-copy"></i>
</div -->
{% endblock %}</footer>{% endblock %}


<script type="text/javascript" src="{{ baseURL }}/own/R.js?v=1.0.0"></script>
<script type="text/javascript" src="{{ baseURL }}/own/Panel.js?v=1.0.0"></script>
<script type="text/javascript" src="{{ baseURL }}/js/nblog.js?v=1.0.0"></script>
{% block toBody %}{% endblock %}
</body>
</html>
