{% extends "section/layout.html" %}

{% block main %}
<form id="login" method="post" action="{{ baseURL }}/login/">
	<p>
		<label>登录名：</label>
		<input type="text" name="login">
	</p>
	<p>
		<label>登录密码：</label>
		<input type="text" name="password">
	</p>
	<p>
	<p>
		<label>验证码：</label>
		<input type="text" name="validate">
		<img  title="点击刷新" src="{{ baseURL }}/captcha.php" align="absbottom" onclick="this.src='{{ baseURL }}/captcha.php?'+Math.random();"></img>
	</p>

	<p style="text-align: center;">
		<button>登录</button>
	</p>

</form>
{% endblock %}
