{% extends "section/layout.html" %}

{% block body %}
<form id="regist">
	<p>
		<label>登录名：</label>
		<input type="text" name="login">
		<i><i class="red">*</i>由3-16位英文、数字、下划线组成</i>
	</p>
	<p>
		<label>登录密码：</label>
		<input type="text" name="password">
		<i><i class="red">*</i>由3-16位英文、数字、下划线组成</i>
	</p>
	<p>
		<label>密码确认：</label>
		<input type="text" name="password2">
		<i class="red">*</i>
	</p>

	<p>
		<label>用户名：</label>
		<input type="text" name="name">
		<i><i class="red">*</i>文章浏览时，显示的用户名称</i>
	</p>

	<p>
		<label>邮箱：</label>
		<input type="text" name="email">
	</p>

	<p>
		<label>QQ号：</label>
		<input type="text" name="qq">
	</p>

	<p>
		<label>验证码：</label>
		<input type="text" name="validate">
		<i class="red">*</i>
	</p>

	<p style="text-align: center;">
		<button>确认</button>
	</p>

</form>
{% endblock %}
