
html, body {
	margin:0;
	padding:0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	line-height: 1.3;
	margin-top: 1em;
	margin-left: 0;
	color: #990000;
}

.banner {
	background-image: -webkit-linear-gradient(to bottom, #660000, #990000);
	background-image: linear-gradient(to bottom, #660000, #990000);
}
.banner > a {display: inline-block;}
.banner > a > img { width: 60px; margin: 10px 0 5px; float: left;}
.banner > a > b  { color: #ffffff; font-size: 26px; margin: 25px 10px 0; display: inline-block;}

.banner [name=search] {
	height: 12px;
	width: 85px;
	font-size: 14px;
	padding-right: 18px;
}
.banner .fa-search { position: absolute; left: 130px; top: 3px; }

.banner .login-info {
	position: relative;
	margin: 5px;
	float: right;
}
.banner .login-info li {
	display: inline-block;
	margin-right: 8px;
	font-size: 13px;
	font-weight: bolder;
}
.banner .login-info li a {
	color: #FFFFFF;
}

.banner .fa-user {
	color: yellow;
}

.main-frame {
	min-height: 460px;
}

ul.navigation {
	margin:0;
	padding: 5px 20px;
	border-bottom: 1px solid #BBBBBB;
	background-image: -webkit-linear-gradient(to bottom, #F7F7F7, #DFDFDF);
	background-image: linear-gradient(to bottom, #F7F7F7, #DFDFDF);
}

ul.navigation li {
    margin: 1px 10px;
    display: inline-block;
    list-style-type: circle;
}

ul.navigation li a {
	font-weight: bold;
	display: block;
	color: #666;
	text-decoration: none;
}








div.footer {
	text-align: center;
	color: blue;
}
