/* footer near to bottom */
html{height:100%;}
body{margin:0; padding:0; height:100%; flex-direction:column; display:flex;}
header.a,footer.a{flex: 0 0 auto;}
main{flex:1 0 auto;}


header.a li,
   nav.a li{list-style-type:circle; display:inline-block;}

header.a, .panel > header {
	background-image:-webkit-linear-gradient(to bottom, #550000, #770000);
	background-image:linear-gradient(to bottom, #550000, #770000);
}
.panel {border-color:#550000!important;}
.panel > header {color:#fff;}



header.a a:link, header.a a:visited, header.a a:hover, header.a a:active{
	color:#FFFFFF; text-decoration:none; background: inherit;
}
header.a figure {margin:0 40px;}
header.a figure img {width:50px; height:50px; margin:8px 8px 2px;}
header.a ul {margin:6px;}
header.a form{margin:2px;}
header.a [name=key] {height:12px; width:75px; font-size:12px; margin:4px;}


nav.a {
	border-bottom: 1px solid #BBBBBB;
	background-image:-webkit-linear-gradient(to bottom, #F7F7F7, #DFDFDF);
	background-image:linear-gradient(to bottom, #F7F7F7, #DFDFDF);
}
nav.a ul {padding:3px;}
nav.a li:not(:first-child):before{content:'|'; margin:20px;}
nav.a a {font-weight: bold;}

main.a section > img.home-thumb {
	float:left; width:120px; margin:8px 5px 5px 0;
}

main.a > .left,
main.a > .right,
section {
	box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
	padding:10px;
}
main.b > .left {
	padding: 0;
}




/* for user/manage/userinfo */
.right fieldset{margin: 20px;}
.right fieldset label {width:120px; display: inline-block; text-align: right;}



/* for aside-left section */
section.search select[name=category] { width:85px;}
section.search select[name=range] { width:65px;}
section.search p {margin:5px 0;}
section.search input:nth-child(1){padding:3px;}
section.search input:nth-child(2){padding:2px 10px; margin:0; border-radius:0;}


/* for admin-page edit-page */
.admin-page header { padding: 10px; }
.admin-page .left-frame header { text-align:center; }
.admin-page header ul { margin:0; padding:0; }
.admin-page header ul li { display:inline; text-align:center; padding:0 10px;}




/* for article detail */
article.detail {width:100%;}
article.detail > header li {padding: 5px;}
article.detail > section {margin: 0 2%;}


/* for /search /user */
#mySearchForm{padding:0;}
#totItem {color:red; min-width:20px; display:inline-block; text-align:center; padding:0 5px;}
#articleList li {width:300px;}
#articleList li a {
	width:inherit; text-overflow:ellipsis; display:inline-block; overflow:hidden; white-space:nowrap;
}


/* for admin donations */
table.donation {}
table.donation tr td:nth-child(2){text-align:right;}


/* for admin article manage*/
table.article {border-collapse: collapse;}
table.article,
table.article tr th,
table.article tr td {border:1px solid #DDDDDD;padding:0 5px; height: 28px;}

table.article tr th:nth-child(1){width:15px;}
table.article tr td:nth-child(2),
table.article tr th:nth-child(2){width:350px;}
table.article tr th:nth-child(4),
table.article tr th:nth-child(8),
table.article tr th:nth-child(9){width:70px;}
table.article tr th:nth-child(6){width:160px;}

table.article tr th:nth-child(3),
table.article tr th:nth-child(5),
table.article tr th:nth-child(7),
table.article tr th:nth-child(10){width:50px;}
table.article td a{width:inherit; text-overflow:ellipsis;display:inline-block;overflow:hidden;white-space:nowrap;}
table.article tr td:nth-child(1),
table.article tr td:nth-child(3),
table.article tr td:nth-child(5),
table.article tr td:nth-child(7),
table.article tr td:nth-child(10){text-align:center;}




/*返回顶部*/
.back-to-top {
	opacity: 0;
	color: #990000;
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 30px;
	cursor: pointer;
	transition: opacity 0.8s ease 0s;
}


/* for book.html */
main.book{height:100%;}
.book .left {max-height: 100%; overflow: auto;}
.book .left section ul,
.book .left section ol {padding-left:15px;}
.book .left section li {line-height: 1.4;}
.book .left section p{margin: 4px 0;}
.book .right {max-height: 100%; overflow-x: auto;overflow-y:scroll;}

.book .shadow {
	box-shadow: 0 0 40px #CCC;
	-webkit-box-shadow: 0 0 40px #CCC;
	-moz-box-shadow: 0 0 40px #CCC;
	border-right: 1px solid #BBB;
	background: url(/images/o_bg.gif);
}

.book .right ul.menu-bar {position:fixed; top: 0; right:20px; width:20px; overflow:hidden; color:#990000;}
.book .menu-bar li {margin-top:10px; cursor:pointer;}

.book .left section a.current {
	font-weight: bolder;
	background: #ffa;
	color: #990000;
}



header.forums figure {margin:auto;}
header.forums figure img {width:30px; height:30px;}
header.forums li a:hover {font-weight:bolder;}
header.forums li {margin-right:2px;}
main.forums {}
main.forums .forums-post-form input[name=title] {width: calc(100% - 300px);}
main.forums .w-e-toolbar {background-color:#F1F1F1; border: 1px solid #CCCCCC;}
main.forums .w-e-toolbar i {font-size: small;}
main.forums .w-e-text-container {height: calc(100vh - 260px)!important; border: 1px solid #CCCCCC; border-top: 0;}
.threads > div {border-bottom: 1px solid #CCCCCC;}
.threads img {max-width:60px; max-height:60px; margin:10px;}
.threads li {font-size:small;}

#reply-editor .w-e-text-container {height: 260px!important;}


.hilite {
	min-height:6px; border-radius:3px; padding:5px 10px;
	background-image:-webkit-linear-gradient(to bottom, #E67D7F, #D7383A);
	background-image:linear-gradient(to bottom, #E67D7F, #D7383A);
}

table.replies{width:100%; border-collapse:collapse;border-spacing:0;}
table.replies tr td {border-bottom: 1px solid #D7383A; vertical-align:top;}
table.replies tr td:first-child{width:100px;}
table.replies tr td:nth-child(2) > div {min-height:70px;}
table.replies tr td:nth-child(2) > ul {width:220px; background_:gray; font-size:small; margin:5px; float:right; }

.userblock {
	margin:5px;
	position:relative;
	border:1px solid #CCC;
	width:90px;
	border-radius:5px;
	text-align:center;
	background-color:#FCF1F0;
}
.userblock img {width:60px; height:60px; margin-top:10px;}
.arrow {position: absolute; top: 10px; right: -10px; display: block; width: 0px; height: 0px; line-height: 0px; border: 10px solid transparent; border-left-color:#CCC; -moz-border-left-colors:#CCC; border-right: none;}
.arrow span { position: absolute; top: -10px; left: -11px; display: block; width: 0px; height: 0px; line-height: 0px; border: 10px solid transparent; border-left-color: rgb(252,241,240); -moz-border-left-colors: rgb(252,241,240); border-right: none;}


