
html, body {
	margin:0;
	padding:0;
}

ul.navigation {
	margin:0;
	list-style: none;
}

ul.navigation li {
    margin: 1px 10px 2px 10px;
    display: inline-block;
    list-style-type: circle;
}

ul.navigation li a {
	font-weight: bold;
	display: block;
	padding_: 0px 8px;
	color: #666;
	text-decoration: none;
}




div.footer {
	text-align: center;
	color: blue;
}
