/* footer near to bottom */
html{height:100%;}
body{margin:0; padding:0; min-height:100vh; flex-direction:column; display:flex; display:-webkit-flex /*Safari*/}
main.a{flex:1; min-height:calc(100vh - 150px);/*ie*/}
main.b{flex:1; min-height:calc(100vh - 80px);/*ie*/ }


/*h1,h2,h3,h4,h5,h6 {
	line-height: 1.3;
	color: #880000;
}*/



header.a li,
   nav.a li{list-style-type:circle; display:inline-block;}

header.a, .panel > header {
	background-image:-webkit-linear-gradient(to bottom, #550000, #770000);
	background-image:linear-gradient(to bottom, #550000, #770000);
}
header.a a {color:#fff; font-weight:bolder;}

header.a figure {display:table; margin:0;}
header.a figure img {width:60px; margin:8px 8px 2px;}
header.a figcaption {display:table-cell; vertical-align:middle; font-size: 28px;}

header.a ul {float:right; position:relative; margin:3px;}
header.a li {margin-right:8px;}

header.a [name=search] {height:12px; width:96px; font-size:12px; padding-right:20px;}
header.a .icon-search { position:absolute; left:143px; bottom:0;}


nav.a {
	border-bottom: 1px solid #BBBBBB;
	background-image: -webkit-linear-gradient(to bottom, #F7F7F7, #DFDFDF);
	background-image: linear-gradient(to bottom, #F7F7F7, #DFDFDF);
}
nav.a ul {padding: 4px;}
nav.a li:not(:first-child):before{content:'|'; margin:20px;}
nav.a a {font-weight: bold;}
nav.a {margin-bottom: 15px;}

main.a {}






footer.a {text-align: center;}


/* for admin-page edit-page */
.admin-page header { padding: 10px; }
.admin-page .left-frame header { text-align: center; }
.admin-page header ul { margin: 0; padding: 0; }
.admin-page header ul li { display: inline; text-align: center; padding: 0 10px;}




/* for article detail */
article.detail {width:100%;}
article.detail > header li {padding: 5px;}
article.detail > section {margin: 0 2%;}




.left {
	box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
	padding-right:20px;
}

/*home-page section*/
section {padding: 5px 12px;}
.left section img {width:150px;}
.left section input {width: calc(100% - 80px);}

section.category > a > h3 {border-bottom:1px solid gray; padding:0 8px 10px;}





/* for user/manage/userinfo */
.right fieldset{margin: 20px;}
.right fieldset label {width:90px; display: inline-block; text-align: right;}