
html, body {
	margin:0;
	padding:0;
}

.bodyer {
	min-height: 500px;
}

ul.navigation {
	margin:0;
	list-style: none;
}

ul.navigation li {
    margin: 1px 10px 2px 10px;
    display: inline-block;
    list-style-type: circle;
}

ul.navigation li a {
	font-weight: bold;
	display: block;
	color: #666;
	text-decoration: none;
}

#login {
	margin: auto;
	width: 360px;
}

#regist {
	margin: auto;
	width: 550px;
}

#regist i {
	display: inline-block;
}

#regist label,
#login  label {
	display: inline-block;
	width: 100px;
	text-align: right;
}
#regist input[name=email] {
	width: 300px;
}



div.footer {
	text-align: center;
	color: blue;
}
