
html, body {
	margin:0;
	padding:0;
}

header {
	background-image: -webkit-linear-gradient(to bottom, #660000, #990000);
	background-image: linear-gradient(to bottom, #660000, #990000);
}

header .login-info {
	margin: 5px;
	float: right;
}
header .login-info li {
	display: inline-block;
	margin-right: 8px;
	font-size: 13px;
	font-weight: bolder;
}
header .login-info li a {
	color: #FFFFFF;
}

header .login-info li i {
	color: yellow;
}

.main-frame {
	min-height: 460px;
}

ul.navigation {
	margin:0;
	padding: 5px 20px;
	background-image: -webkit-linear-gradient(to bottom, #F7F7F7, #DFDFDF);
	background-image: linear-gradient(to bottom, #F7F7F7, #DFDFDF);
}

ul.navigation li {
    margin: 1px 10px;
    display: inline-block;
    list-style-type: circle;
}

ul.navigation li a {
	font-weight: bold;
	display: block;
	color: #666;
	text-decoration: none;
}








div.footer {
	text-align: center;
	color: blue;
}
