body,input, textarea, select{font-size:18px;font-family:"Droid Sans";color:#575757;background-color: #fff;}
h1{font-size:26px;margin:16px 0;}
h2{font-size:24px;margin:14px 0;}
h3{font-size:22px;margin:12px 0;}
h4{font-size:20px;margin:10px 0;}
h5{font-size:18px;margin:8px 0;}
h6{font-size:16px;margin:6px 0;}
a{color:#575757;text-decoration:none;transition:all 0.1s ease-in 0s;}
a:hover{color:#575757;text-decoration:none;}
input, textarea{border:1px solid #ddd;padding:3px;resize:vertical;}
input[type=button],input[type=submit],input[type=reset],button{
	color:#fff;border:0;cursor:pointer;background-color:#337ab7;
	padding:5px 25px;margin:5px;font-weight:bold;width:auto;border-radius: 3px
}
input[type=radio], input[type=checkbox]{-moz-margin-end:5px;}
select{border:1px solid #ddd;}
.blod{font-weight:bold;}.bloder{font-weight:bolder;}
.scroll-y{overflow-y:scroll;}.scroll-x{overflow-x:scroll;}
.lh10{line-height:1.0;}.lh11{line-height:1.1;}.lh12{line-height:1.2;}.lh13{line-height:1.3;}.lh14{line-height:1.4;}.lh15{line-height:1.5;}.lh16{line-height:1.6;}.lh17{line-height:1.7;}.lh18{line-height:1.8;}.lh19{line-height:1.9;}.lh20{line-height:2.0;}
.text-left{text-align:left;}.text-center{text-align:center;}.text-right{text-align:right;}
.hide{display:none;}.show,.block{display:block;}.inline-block{display:inline-block;}
.red{color:red;}.green{color:green;}.blue{color:blue;}.white{color:white;}.yellow{color:#eeaa66;}
.ellipsis{text-overflow:ellipsis;display:block;overflow:hidden;white-space:nowrap;}
.inherit{width:inherit;height:inherit;}
.inline-group *{display:inline-block;}
.relative {position:relative;}
.fixed{position:fixed;}

.flex{
	display:flex;
	flex-flow:row wrap;
	justify-content:flex-start;
	text-rendering: optimizeSpeed;
}
.flex-middle{align-items:center;}

.z-0{flex-grow:0;}
.z-1{flex-grow:1;}
.z-2{flex-grow:2;}
.z-3{flex-grow:3;}
.z-4{flex-grow:4;}
.z-5{flex-grow:5;}
@media(min-width:0){
	.a-fixed{position:fixed;top:0;bottom:0;width:inherit;}
	.a-1-1{width:100%;}
	.a-1-2,.a-2-4,.a-3-6{width:50%;}
	.a-1-3,.a-2-6{width:33.33%;}.a-2-3,.a-4-6{width:66.66%;}
	.a-1-4{width:25%;}.a-3-4{width:75%;}
	.a-1-5{width:20%;}.a-2-5{width:40%;}.a-3-5{width:60%;}.a-4-5{width:80%;}
	.a-1-6{width:16.66%;}.a-5-6{width:83.33%;}
	.a-p-0{padding:0;}.a-p-3{padding:0 3px;}.a-p-5{padding:0 5px;}.a-p-10{padding:0 10px;}.a-p-15{padding:0 15px;}.a-p-20{padding:0 20px;}.a-p-30{padding:0 30px;} 
	.a-m-0{margin:0;}.a-m-3{margin:0 3px;}.a-m-5{margin:0 5px;}.a-m-10{margin:0 10px;}.a-m-15{margin:0 15px;}.a-m-20{margin:0 20px;}.a-m-30{margin:0 30px;}
}
/*手机竖屏*/
@media(min-width:300px){
	.b-fixed{position:fixed;top:0;bottom:0;width:inherit;}
	.b-1-1{width:100%;}
	.b-1-2,.b-2-4,.b-3-6{width:50%;}
	.b-1-3,.b-2-6{width:33.33%;}.b-2-3,.b-4-6{width:66.66%;}
	.b-1-4{width:25%;}.b-3-4{width:75%;}
	.b-1-5{width:20%;}.b-2-5{width:40%;}.b-3-5{width:60%;}.b-4-5{width:80%;}
	.b-1-6{width:16.66%;}.b-5-6{width:83.33%;}
	.b-p-0{padding:0;}.b-p-3{padding:0 3px;}.b-p-5{padding:0 5px;}.b-p-10{padding:0 10px;}.b-p-15{padding:0 15px;}.b-p-20{padding:0 20px;}.b-p-30{padding:0 30px;}
	.b-m-0{margin:0;}.b-m-3{margin:0 3px;}.b-m-5{margin:0 5px;}.b-m-10{margin:0 10px;}.b-m-15{margin:0 15px;}.b-m-20{margin:0 20px;}.b-m-30{margin:0 30px;}
}
/*手机横屏*/
@media(min-width:600px){
	.c-fixed{position:fixed;top:0;bottom:0;width:inherit;}
	.c-1-1{width:100%;}
	.c-1-2,.c-2-4,.c-3-6{width:50%;}
	.c-1-3,.c-2-6{width:33.33%;}.c-2-3,.c-4-6{width:66.66%;}
	.c-1-4{width:25%;}.c-3-4{width:75%;}
	.c-1-5{width:20%;}.c-2-5{width:40%;}.c-3-5{width:60%;}.c-4-5{width:80%;}
	.c-1-6{width:16.66%;}.c-5-6{width:83.33%;}
	.c-1-7{width:14.28%;}.c-2-7{width:28.57%;}.c-3-7{width:42.85%;}.c-4-7{width:57.14%;}.c-5-7{width:71.42%;}.c-6-7{width:85.71%;}
	.c-1-8{width:12.5%;}.c-3-8{width:37.5%;}.c-5-8{width:62.5%;}.c-7-8{width:87.5%;}
	.c-p-0{padding:0;}.c-p-3{padding:0 3px;}.c-p-5{padding:0 5px;}.c-p-10{padding:0 10px;}.c-p-15{padding:0 15px;}.c-p-20{padding:0 20px;}.c-p-30{padding:0 30px;}.c-p-50{padding:0 50px;}
	.c-m-0{margin:0;}.c-m-3{margin:0 3px;}.c-m-5{margin:0 5px;}.c-m-10{margin:0 10px;}.c-m-15{margin:0 15px;}.c-m-20{margin:0 20px;}.c-m-30{margin:0 30px;}.c-m-50{margin:0 50px;}
}
@media(min-width:900px){
	.d-fixed{position:fixed;top:0;bottom:0;width:inherit;}
	.d-1-1{width:100%;}
	.d-1-2,.d-2-4,.d-3-6{width:50%;}
	.d-1-3,.d-2-6{width:33.33%;}.d-2-3,.d-4-6{width:66.66%;}
	.d-1-4{width:25%;}.d-3-4{width:75%;}
	.d-1-5{width:20%;}.d-2-5{width:40%;}.d-3-5{width:60%;}.d-4-5{width:80%;}
	.d-1-6{width:16.66%;}.d-5-6{width:83.33%;}
	.d-1-7{width:14.28%;}.d-2-7{width:28.57%;}.d-3-7{width:42.85%;}.d-4-7{width:57.14%;}.d-5-7{width:71.42%;}.d-6-7{width:85.71%;}
	.d-1-8{width:12.5%;}.d-3-8{width:37.5%;}.d-5-8{width:62.5%;}.d-7-8{width:87.5%;}
	.d-p-0{padding:0;}.d-p-3{padding:0 3px;}.d-p-5{padding:0 5px;}.d-p-10{padding:0 10px;}.d-p-15{padding:0 15px;}.d-p-20{padding:0 20px;}.d-p-30{padding:0 30px;}.d-p-50{padding:0 50px;}.d-p-80{padding:0 80px;}.d-p-100{padding:0 100px;}
	.d-m-0{margin:0;}.d-m-3{margin:0 3px;}.d-m-5{margin:0 5px;}.d-m-10{margin:0 10px;}.d-m-15{margin:0 15px;}.d-m-20{margin:0 20px;}.d-m-30{margin:0 30px;}.d-m-50{margin:0 50px;}.d-m-80{margin:0 80px;}.d-m-100{margin:0 100px;}
}
/*T430i*/
@media(min-width:1200px){
	.e-fixed{position:fixed;top:0;bottom:0;width:inherit;}
	.e-1-1{width:100%;}
	.e-1-2,.e-2-4,.e-3-6,.e-4-8{width:50%;}
	.e-1-3,.e-2-6{width:33.33%;}.e-2-3,.e-4-6{width:66.66%;}
	.e-1-4,.e-2-8{width:25%;}.e-3-4,.e-6-8{width:75%;}
	.e-1-5{width:20%;}.e-2-5{width:40%;}.e-3-5{width:60%;}.e-4-5{width:80%;}
	.e-1-6{width:16.66%;}.e-5-6{width:83.33%;}
	.e-1-7{width:14.28%;}.e-2-7{width:28.57%;}.e-3-7{width:42.85%;}.e-4-7{width:57.14%;}.e-5-7{width:71.42%;}.e-6-7{width:85.71%;}
	.e-1-8{width:12.5%;}.e-3-8{width:37.5%;}.e-5-8{width:62.5%;}.e-7-8{width:87.5%;}
	.e-p-0{padding:0;}.e-p-3{padding:0 3px;}.e-p-5{padding:0 5px;}.e-p-10{padding:0 10px;}.e-p-15{padding:0 15px;}.e-p-20{padding:0 20px;}.e-p-30{padding:0 30px;} 
	.e-p-50{padding:0 50px;}.e-p-80{padding:0 80px;}.e-p-100{padding:0 100px;}.e-p-120{padding:0 120px;}.e-p-150{padding:0 150px;}.e-p-180{padding:0 180px;} .e-p-200{padding:0 200px;} 
	.e-m-0{margin:0;}.e-m-3{margin:0 3px;}.e-m-5{margin:0 5px;}.e-m-10{margin:0 10px;}.e-m-15{margin:0 15px;}.e-m-20{margin:0 20px;}.e-m-30{margin:0 30px;}
	.e-m-50{margin:0 50px;}.e-m-80{margin:0 80px;}.e-m-100{margin:0 100px;}.e-m-120{margin:0 120px;}.e-m-150{margin:0 150px;}.e-m-180{margin:0 180px;}.e-m-200{margin:0 200px;}
}
@media(min-width:1500px){
	.f-fixed{position:fixed;top:0;bottom:0;width:inherit;}
	.f-1-1{width:100%;}
	.f-1-2,.f-2-4,.f-3-6,.f-4-8,.f-5-10{width:50%;}
	.f-1-3,.f-2-6,.f-3-9{width:33.33%;}.f-2-3,.f-4-6,.f-6-9{width:66.66%;}
	.f-1-4,.f-2-8{width:25%;}.f-3-4,.f-6-8{width:75%;}
	.f-1-5,.f-2-10{width:20%;}.f-2-5,.f-4-10{width:40%;}.f-3-5,.f-6-10{width:60%;}.f-4-5,.f-8-10{width:80%;}
	.f-1-6{width:16.66%;}.f-5-6{width:83.33%;}
	.f-1-7{width:14.28%;}.f-2-7{width:28.57%;}.f-3-7{width:42.85%;}.f-4-7{width:57.14%;}.f-5-7{width:71.42%;}.f-6-7{width:85.71%;}
	.f-1-8{width:12.5%;}.f-3-8{width:37.5%;}.f-5-8{width:62.5%;}.f-7-8{width:87.5%;}
	.f-1-9{width:11.11%;}.f-2-9{width:22.22%;}.f-4-9{width:44.44%;}.f-5-9{width:55.55%;}.f-7-9{width:77.77%;}.f-8-9{width:88.88%;}
	.f-1-10{width:10%;}.f-3-10{width:30%;}.f-7-10{width:70%;}.f-9-10{width:90%;}
	.f-p-0{padding:0;}.f-p-3{padding:0 3px;}.f-p-5{padding:0 5px;}.f-p-10{padding:0 10px;}.f-p-15{padding:0 15px;}.f-p-20{padding:0 20px;}.f-p-30{padding:0 30px;} 
	.f-p-50{padding:0 50px;}.f-p-80{padding:0 80px;}.f-p-100{padding:0 100px;}.f-p-120{padding:0 120px;}.f-p-150{padding:0 150px;}.f-p-180{padding:0 180px;} .f-p-200{padding:0 200px;} 
	.f-m-0{margin:0;}.f-m-3{margin:0 3px;}.f-m-5{margin:0 5px;}.f-m-10{margin:0 10px;}.f-m-15{margin:0 15px;}.f-m-20{margin:0 20px;}.f-m-30{margin:0 30px;}
	.f-m-50{margin:0 50px;}.f-m-80{margin:0 80px;}.f-m-100{margin:0 100px;}.f-m-120{margin:0 120px;}.f-m-150{margin:0 150px;}.f-m-180{margin:0 180px;}.f-m-200{margin:0 200px;}
}
@media(min-width:1800px){
	.g-fixed{position:fixed;top:0;bottom:0;width:inherit;}
	.g-1-1{width:100%;}
	.g-1-2,.g-2-4,.g-3-6,.g-4-8,.g-5-10,.g-6-12{width:50%;}
	.g-1-3,.g-2-6,.g-3-9,.g-4-12{width:33.33%;}.g-2-3,.g-4-6,.g-6-9,.g-8-12{width:66.66%;}
	.g-1-4,.g-2-8,.g-3-12{width:25%;}.g-3-4,.g-6-8,.g-9-12{width:75%;}
	.g-1-5,.g-2-10{width:20%;}.g-2-5,.g-4-10{width:40%;}.g-3-5,.g-6-10{width:60%;}.g-4-5,.g-8-10{width:80%;}
	.g-1-6,.g-2-12{width:16.66%;}.g-5-6,.g-10-12{width:83.33%;}
	.g-1-7{width:14.28%;}.g-2-7{width:28.57%;}.g-3-7{width:42.85%;}.g-4-7{width:57.14%;}.g-5-7{width:71.42%;}.g-6-7{width:85.71%;}
	.g-1-8{width:12.5%;}.g-3-8{width:37.5%;}.g-5-8{width:62.5%;}.g-7-8{width:87.5%;}
	.g-1-9{width:11.11%;}.g-2-9{width:22.22%;}.g-4-9{width:44.44%;}.g-5-9{width:55.55%;}.g-7-9{width:77.77%;}.g-8-9{width:88.88%;}
	.g-1-10{width:10%;}.g-3-10{width:30%;}.g-7-10{width:70%;}.g-9-10{width:90%;}
	.g-1-11{width:9.09%;}.g-2-11{width:18.18%;}.g-3-11{width:27.27%;}.g-4-11{width:36.36%;}.g-5-11{width:45.45%;}.g-6-11{width:54.54%;}.g-7-11{width:63.63%;}.g-8-11{width:72.72%;}.g-9-11{width:81.81%;}.g-10-11{width:90.9%;} 
	.g-1-12{width:8.33%;}.g-5-12{width:41.66%;}.g-7-12{width:58.33%;}.g-11-12{width:91.66%;}
	.g-p-0{padding:0;}.g-p-3{padding:0 3px;}.g-p-5{padding:0 5px;}.g-p-10{padding:0 10px;}.g-p-15{padding:0 15px;}.g-p-20{padding:0 20px;}.g-p-30{padding:0 30px;} 
	.g-p-50{padding:0 50px;}.g-p-80{padding:0 80px;}.g-p-100{padding:0 100px;}.g-p-120{padding:0 120px;}.g-p-150{padding:0 150px;}.g-p-180{padding:0 180px;} .g-p-200{padding:0 200px;} 
	.g-m-0{margin:0;}.g-m-3{margin:0 3px;}.g-m-5{margin:0 5px;}.g-m-10{margin:0 10px;}.g-m-15{margin:0 15px;}.g-m-20{margin:0 20px;}.g-m-30{margin:0 30px;}
	.g-m-50{margin:0 50px;}.g-m-80{margin:0 80px;}.g-m-100{margin:0 100px;}.g-m-120{margin:0 120px;}.g-m-150{margin:0 150px;}.g-m-180{margin:0 180px;}.g-m-200{margin:0 200px;}
}

