main.edit .left {padding-right: 0;}

#editor-head {
	border:1px solid #CCCCCC;
	border-bottom: 0;
	background:#F1F1F1;
}
#editor-body {
	border-top_:1px solid #CCCCCC;
}


.bsd-title{
	line-height: 30px;
	border-bottom:1px solid #CCCCCC;
}
#editor-title {
}

#editor-content {
	height: 100%;
	border:1px solid #CCCCCC;
	border-right: 0;
}

#editor-source {
	height: 100%;
	margin: 0;
	border: 0;
	resize: none;
	overflow-y:scroll;
	border:1px solid #CCCCCC;
}

.left > h3 {text-align:center; background:#990000; color:#FFFFFF; margin:0; padding:10px;}

[name=editForm] {margin:0; overflow:auto;}
[name=editForm] > p {
	margin: 8px 0;
	flex-flow:row wrap; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
}
[name=editForm] > p > input,
[name=editForm] > p > textarea {flex:1 1 auto; width:1px;}
[name=editForm] [name=status] {width: 80px;}
[name=editForm] [name=caption] {height: 150px;}
[name=editForm] img { max-width:200px; height: 150px;}

label {display: inline-block;}
[name=title],
[name=alias] {width:180px;}