{% extends "admin/layout.html" %}




{% block inRight %}
<h3>文档管理</h3>

<form id="searchForm" class="inline-block mr50">
	<select name="approved"  onchange="getArticles(1)">
		<option value="">-- 所有审核 --</option>
		<option value="t">通过</option>
		<option value="f">未通过</option>
	</select>

	<select name="columnid">
		<option value="">-- 所有栏目 --</option>
		<option value="1">栏目名</option>
	</select>

	<select name="status" onchange="getArticles(1)">
		<option value="">-- 所有状态 --</option>
		<option value="公开">公开</option>
		<option value="隐藏">隐藏</option>
		<option value="删除">删除</option>
	</select>

	<select name="range">
		<option value="title">标题</option>
		<option value="content">内容</option>
		<option value="category">类别</option>
		<option value="username">贡献者</option>
	</select>
	<input type="text" name="key" placeholder="search">

	<input type="text" name="userid" value="" hidden="true"/>
	<input type="text" name="page" value="1" hidden="true"/>
</form>


<form class="inline-block">
	<select id="approved">
		<option value="">-- 更改审核 --</option>
		<option value="t">通过</option>
		<option value="f">未通过</option>
	</select>

	<select id="columnid">
		<option value="">-- 更改栏目 --</option>
		<option value="1">栏目名</option>
	</select>

	<input type="button" value="批量设定" onclick="dowork()">
</form>


<form>
	<table id="articleTable" class="article">
		<thead>
			<tr>
				<th><input type="checkbox" id="checkall"></th>
				<th>标题</th>
				<th>状态</th>
				<th>类别</th>
				<th>点击</th>
				<th>添加时间</th>
				<th>审核</th>
				<th>栏目</th>
				<th>贡献者</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="articles">
		</tbody>
	</table>
</form>

<span id="pagination" data-peritem={{pages.perItem}}></span>




{% endblock %}


{% block toBody %}
<script type="text/javascript" src="../../../own/Pagination.js"></script>
<script type="text/javascript">

R.id('section-1').checked = true;
R.CHK('[name=checkone]').to('#checkall');
R.ONE('[name=key]').enter(function(){getArticles(1)});
R.one('[name=key]').focus();




var pagination = new Pagination({
	container: '#pagination',
	perItem: 	R.id('pagination').dataset.peritem,
	onclick: 	function(i){ getArticles(i) },
});
pagination.hide();



function getArticles(page) {
	R('[name=page]').value = page;

	R.post('', R.fd('#searchForm'), function(data) {
		pagination.reset(data.pages);
		pagination.show();

		var tbody = R.id('articles');
		tbody.innerHTML = '';
		var articles = data.articles;
		if (!articles) return;

		for (var i=0; i<articles.length; i++) {
			var ca = articles[i],
				tr = R.ce('tr');
			tbody.appendChild(tr);

			tr.appendChild(R.ce('td', {
				innerHTML: '<input type="checkbox" name="ids" value="' + ca[0] + '"/>'
			}));
			tr.appendChild(R.ce('td', {
				innerHTML: '<a href="../article/'+ca[0]+'">'+ca[1]+'</a>'
			}));
			for (var j=2; j<9; j++) {
				tr.appendChild(R.ce('td', {innerHTML: ca[j]}));
			}
			tr.appendChild(R.ce('td', {
				innerHTML: '<a href="../user/article/edit/' + ca[0] + '">编辑</a>'
			}));
		}
	}, 'json');
}
getArticles(1);



function dowork() {
	var ids = R.CHK('[name=ids]').val(),
		app = R.id('approved').value,
		col = R.id('columnid').value;

	if(R.empty(ids)){
		panelMsg('请选择文档!');
		return;
	} else if (app=='' && col=='') {
		panelMsg('请选择操作!');
		return;
	}

	R.put('', {
		ids: 	  ids,
		approved: app,
		columnid: col,
	}, function(data){
		if (data=='批量操作成功!') {
			var ALL = R.ALL('[name=ids]:checked');
			if (!R.empty(app)) {
				ALL.each(function(a){
					a.parentNode.parentNode.children[6].innerHTML=app})
			}
			if (!R.empty(col)) {
				All.each(function(a){
					a.parentNode.parentNode.children[7].innerHTML=col})
			}
		}
		panelMsg(data);
	});
}

</script>

{% endblock %}