{% extends "layout.html" %}


{% block inBody %}
{% autoescape false %}

<main class="a book flex a-m-0">
	<div class="left a-1-1 c-1-3 e-1-4 f-1-5 g-1-6 shadow">
		<div class="c-fixed1 shadow1">
			<article class="detail">
				<header>
					<h2 class="decoration-none"><a href="../article/{{articleid}}">{{title}}</a></h2>
					<ul class="hor p0 pt20">
						<li><span>贡献者：{{username}}</span></li>
						<li><span>阅读：{{counter}}</span></li>
						{% if editable %}
						<li><a href="../user/edit/{{articleid}}">编辑</a></li>
						{% endif %}
					</ul>
				</header>

				<section id="catalog">
					{{content}}
				</section>
			</article>
		</div>
	</div>


	<div class="right a-1-1 c-2-3 e-3-4 f-4-5 g-5-6">
		
		<article class="detail border-box a-p-0 c-p-5 d-p-10 e-p-30 f-p-50">
			<header>
				<h2 id="title">内容提要</h2>
				<ul class="hor border-tl p0 pt20">
					<li><span id="username"></span></li>
					<li><span id="counter"></span></li>
					<li><span id="category"></span></li>
					<li><span id="newtime"></span></li>
					<li><span id="editable"></span></li>
				</ul>
			</header>

			<section id="content">
				{{caption}}
			</section>
		</article>


		<ul id="book-menu" class="none menu-bar">
			<li>💡</li>
			<li>首页</li>
			<li>主页</li>
			<li>上一章</li>
			<li>下一章</li>
		</ul>
		<b class="back-to-top" id="gotop" data-query='.right'>︽</b>
	</div>
</main>



{% endautoescape %}
{% endblock %}


{% block toBody %}
<script style="text/javascript" src="../js/book.js"></script>
{% endblock %}