{% extends "layout.html" %}



{% block toHead %}
<style type="text/css">
	section.donation img {width:150px; padding:10px;}
	table.donation th {color:#990000;}
	table.donation tr td:nth-child(2){text-align:right;}
</style>
{% endblock %}


{% block inLeft %}

<section class="donation">
	<img src="./images/pay_ali.jpg" class="mt20">
	<img src="./images/pay_qq.jpg">
	<img src="./images/pay_wx.jpg">
</section>
{% endblock %}



{% block inRight %}
<section>
	<p>本站点由广大 FreeBSD 爱好者捐赠发起，由于涉及域名和vps续费问题，特向广大网友发起捐赠倡议。</p>

	<div class="screen">
		<table>
			<tr>
				<td>接受捐赠支付宝帐号：</td><td>18610992685</td><td></td>
			</tr>
			<tr>
				<td>接受捐赠QQ帐号：</td><td>1179344697</td><td>Helo</td>
			</tr>
			<tr>
				<td>接受捐赠微信帐号：</td><td>cinderellanoah</td><td>Helo</td>
			</tr>
			<tr>
				<td>请将捐赠账目以及捐赠人告知：</td><td>306935137@qq.com</td><td></td>
			</tr>
		</table>
	</div>
</section>

<section class="inline-block">
	<table class="donation ml50">
		<thead>
			<tr><th>捐赠人</th><th>捐赠款项</th><th>捐赠服务</th><th>备注</th><th>时间</th></tr>
		</thead>
		<tbody id="donationTbody">
		</tbody>
	</table>
	<p class="mt10 ml50 bolder">
		<span id="pagination" data-peritem="{{pages.perItem}}" data-totitem="{{pages.totItem}}"></span>
		<span class="float-right bsd mr20">捐赠合计：{{sum}}</span>
	</p>
</section>


{% endblock %}


{% block toBody %}
<script type="text/javascript" src="../../../own/Pagination.js"></script>
<script type="text/javascript">

var pagination = new Pagination({
	container: '#pagination',
	perItem: R.id('pagination').dataset.peritem,
	totItem: R.id('pagination').dataset.totitem,
	onclick: function(index){
		get(index);
	},
});



function get(page) {
	R.post('', {page: page}, function(data) {

		var o = R.id('donationTbody'),
			d = data.donations;
		o.innerHTML = '';

		for (var i=0; i<d.length; i++) {
			var tr = R.ce('tr');
			o.appendChild(tr);

			for (var j=0; j<d[i].length; j++) {
				var s = d[i][j];
				var	td = R.ce('td');
				if (R.empty(s)) {
					td.innerHTML = '-';
					td.className = 'text-center';
				} else {
					td.innerHTML = s;
				}
				tr.appendChild(td);
			}
		}
	}, 'JSON');
}
get(1);

</script>
{% endblock %}