{% extends "layout.html" %}

{% block toHead %}
<style type="text/css">
	section {padding: 15px;}


</style>
{% endblock %}


{% block inLeft %}


<section>
	<h3>官方下载</h3>
	<a href="https://www.freebsd.org/where.html" target="_blank">FreeBSD 11.1-RELEASE</a>
</section>

<section>
	<h3>官方资料</h3>
	<ul class="hor">
		<li><a href="https://www.freebsd.org/zh_CN/" target="_blank">中文网站</a></li>
		<li><a href="https://www.freebsd.org/doc/zh_CN/books/handbook/" target="_blank">中文手册</a></li>
	</ul>
</section>

<section>
	<h3>意见建议</h3>
	<form id="suggestForm">
		<textarea name="content" rows="4" placeholder="请把您的意见留给我们，我们会继续努力，不断完善和提高。"></textarea>
		<input type="button" value="提交" onclick="suggest()" />
	</form>
</section>

{% endblock %}


{% block inRight %} {% autoescape false %}

<div class="flex">

	{% for c in columns if c.content %}
	<section class="a-1-1 d-1-2 f-1-3">
		{% if c.thumb!='' %} <img src="{{c.thumb}}" class="home-thumb"/> {% endif %}
		{{c.content}}
	</section>
	{% endfor %}

</div>
<div>
	{% include "public/site-navigation.html" %}
<!-- 

	<section class="a-1-1">
		<h3>资源链接</h3>
		<ul class="hor">
			<li><a href="http://pubs.vmware.com/vsphere-50/index.jsp" target="_blank">
			vSphere 5 文档中心</a></li>
			<li><a href="http://wiki.ubuntu.org.cn" target="_blank">ubuntu</a></li>
			<li><a href="http://blog.csdn.net/zhjhwer/article/details/51470185"> php pgsql的常用函数 </a></li>
			<li><a href="http://m.blog.csdn.net/u011630575/article/details/49153597">使用字体</a></li>
			<li><a href="http://www.cnblogs.com/zhouhuan/p/vertical_center.html">CSS垂直居中的11种实现方式</a></li>
			<li><a href="http://www.cnblogs.com/hz1124/p/6090835.html">HTML5新增标签与属性</a></li>
			<li><a href="http://kindeditor.net/docs/index.html">kindeditor文档</a></li>
			<li><a href="http://wiki.ubuntu.org.cn/">ubuntu</a></li>
				<li><a href="https://www.chinafreebsd.cn/index.php?title=WiKi%E8%AF%AD%E6%B3%95">freebsd样式</a></li>
		</ul>
	</section>
 -->
</div>

{% endautoescape %} {% endblock %}





{% block toBody %}
<script type="text/javascript">
	function suggest() {
		R.post('./suggest', R.FD('#suggestForm').fd, function(data) {
				panelMsg(data);
		});
	}
</script>
{% endblock %}
