{% extends "layout.html" %}


{% block toHead %}
	<style type="text/css">
		[name=loginForm] { margin: 0 auto; width:380px;}
		[name=loginForm] label { display:inline-block; width:100px; text-align:right; }
		[name=loginForm] h2 { width:90%; text-align:center; color:#990000; margin-top:30px; font-weight:bold; }
	</style>
{% endblock %}


{% block inMain %}
<form name="loginForm" method="post">
	<p>
		<h2>用户登录</h2>
	</p>
	<p class="message">
		{% if (errorMessage) %}
		<label class="red">错误信息：</label>
		<span class="red">{{ errorMessage }}</span>
		{% endif %}
	</p>
	<p>
		<label>登录名：</label>
		<input type="text" name="login" required="required"/>
	</p>
	<p>
		<label>登录密码：</label>
		<input type="password" id="pwd" required="required"/>
		<input type="password" name="password" hidden="true"/>
	</p>
	<p>
	<p class="relative">
		<label title="为避免混淆，验证码中没有数字0,1,2">验证码：</label>
		<input type="text" name="captcha" required="required"/>
		<img  title="点击刷新" src="./captcha" align="absbottom" onclick="this.src='./captcha?'+Math.random();">
	</p>

	<p class="text-center">
		<input type="button" value="登录" onclick="doLogin()">
	</p>
</form>
{% endblock %}


{% block toBody %}
<script type="text/javascript" src="./js/rsa/RSA.js"></script>
<script type="text/javascript" src="./js/rsa/BigInt.js"></script>
<script type="text/javascript" src="./js/rsa/Barrett.js"></script>
<script type="text/javascript" src="./js/md5.min.js"></script>
<script type="text/javascript" src="./js/public_key.js"></script>
<script type="text/javascript">


R.ALL('form input').move('[name=password]');


function displayMessage(msg) {
	R('.message').innerHTML = msg ? '\
		<label class="red">错误信息</label>\
		<span class="red">' + msg + '</span>' : '';
}


function doLogin() {
	var oPwd    = R.id('pwd'),
		pwd 	= oPwd.value,
		login 	= R('[name=login]').value,
		ca		= R('[name=captcha]').value;

	if (login=='') {
		displayMessage('登录名不得为空!');
	} else if (pwd=='') {
		displayMessage('登录密码不得为空!');
	} else if (ca=='') {
		displayMessage('验证码不得为空!');
	} else {
		setMaxDigits(131);
		var key  = new RSAKeyPair("10001", '', PUBLIC_KEY);
		R('[name=password]').value = encryptedString(key, md5(ca+md5(pwd)+ca));
		document.loginForm.submit();
	}
}
R('[name=login]').focus();
</script>
{% endblock %}