{% extends "default/layout.html" %}

{% block head %}
	<style type="text/css">
		form { margin:auto; width:360px; }
		form label { display:inline-block; width:100px; text-align:right; }
		form h2 { width:100%; text-align:center; color:#990000; margin-top:30px; font-weight:bold; }

	</style>
{% endblock %}

{% block main %}


<form name="loginForm" method="post">
	<p>
		<h2>用户登录</h2>
	</p>
	<p class="message">
		{% if (errorMessage) %}
		<label class="red">错误信息：</label>
		<span class="red">{{ errorMessage }}</span>
		{% endif %}
	</p>
	<p>
		<label>登录名：</label>
		<input type="text" name="login" required="required">
	</p>
	<p>
		<label>登录密码：</label>
		<input type="password" id="pwd" required="required">
		<input type="password" name="password" style="display: none;">
	</p>
	<p>
	<p>
		<label>验证码：</label>
		<input type="text" name="captcha" required="required">
		<img  title="点击刷新" src="{{ baseURL }}/captcha" align="absbottom" onclick="this.src='{{ baseURL }}/captcha?'+Math.random();">
	</p>

	<p class="text-center">
		<input type="button" value="登录" onclick="doLogin()">
	</p>
</form>
{% endblock %}


{% block script %}
<script type="text/javascript" src="{{ baseURL }}/js/rsa/RSA.js"></script>
<script type="text/javascript" src="{{ baseURL }}/js/rsa/BigInt.js"></script>
<script type="text/javascript" src="{{ baseURL }}/js/rsa/Barrett.js"></script>
<script type="text/javascript" src="{{ baseURL }}/js/md5.min.js"></script>
<script type="text/javascript" src="{{ baseURL }}/js/public_key.js"></script>
<script type="text/javascript" src="{{ baseURL }}/own/Panel.js"></script>
<script type="text/javascript">


R.move('form input','[name=password]');
R.enter('[name=captcha]', doLogin);
R.focus('[name=login]');

function displayMessage(msg) {
	R('.message').innerHTML = msg ? '\
		<label class="red">错误信息</label>\
		<span class="red">' + msg + '</span>' : '';
}


function doLogin() {
	var oPwd    = R.id('pwd'),
		pwd 	= oPwd.value,
		login 	= R('[name=login]').value,
		ca		= R('[name=captcha]').value;

	if (login=='') {
		displayMessage('登录名不得为空!');
	} else if (pwd=='') {
		displayMessage('登录密码不得为空!');
	} else if (ca=='') {
		displayMessage('验证码不得为空!');
	} else {
		setMaxDigits(131);
		var key  = new RSAKeyPair("10001", '', PUBLIC_KEY);
		R('[name=password]').value = encryptedString(key, md5(ca+md5(pwd)+ca));
		document.loginForm.submit();
	}
}
	
</script>
{% endblock %}