{% extends "layout.html" %}




{% block inLeft %}
	{% include "public/aside-left-search.html" %}

{% endblock %}


{% block inRight %}

<h4 class="mt20">本次共检索到<span id="totItem"></span>篇文章</h4>

<ul id="articleList" class="hor"></ul>

<span id="pagination" data-peritem="{{pages.perItem}}" data-totitem="{{pages.totItem}}"></span>
{% endblock %}




{% block toBody %}
<script type="text/javascript" src="/own/Pagination.js"></script>
<script type="text/javascript">
var url = R.URL();
var cat = decodeURI(url.get('category'));
R.SEL('[name=category]').set(cat);
R.SEL('[name=range]').set(url.get('range'));
R('[name=key]').focus();


var pagination = new Pagination({
	container: '#pagination',
	perItem: R.id('pagination').dataset.peritem,
	totItem: R.id('pagination').dataset.totitem,
	onclick: function(i){get(i)},
});
pagination.hide();


function get(page) {
	

	R.post('', {
			page: page,
			category: cat,
			range:	  decodeURI(url.get('range')),
			key:      decodeURI(url.get('key')),
		}, function(data) {
			R.id('totItem').innerText = data.pages.totItem;
			pagination.reset(data.pages);
			pagination.show();

			var ul = R.id('articleList'),
				ds = data.articles;
			ul.innerHTML = '';

			for (var i=0; i<ds.length; i++) {
				var t = ds[i][2]=='' ? ds[i][1] : ds[i][2];

				ul.appendChild(R.ce('li', {
					innerHTML: '<a href="./article/' + ds[i][0] + '">' + t + '</a>',
				}));
			
			}


	}, 'JSON');
}
get(1);




</script>
{% endblock %}
