<ul>
	<li><i class="iconfont icon-search gray"></i><input type="text" name="search" placeholder="search"></li>
	{% if (login) %}
		<li><a href="{{baseURL}}/user"><i class="iconfont icon-seeuser"></i> {{login}}</a></li>
		<li><a href="{{baseURL}}/user/article/edit/new">添加</a></li>
		<li><a href="{{baseURL}}/user/manage">管理</a></li>
		<li><a href="{{baseURL}}/logout">退出</a></li>
	{% else %}
	<li><a href="{{baseURL}}/regist">注册</a></li>
	<li><a href="{{baseURL}}/login">登录</a></li>
	{% endif %}
</ul>