<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="China FreeBSD">
	<meta name="keywords" content="China FreeBSD nBLOG nWIKI nCMS" />
	<meta name="author" content="China FreeBSD">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title>{% block title %}China FreeBSD{% endblock %}</title>
 	<!-- link rel="stylesheet" href="http://at.alicdn.com/t/font_stnj9i7gtbc07ldi.css" -->
 	<link rel="stylesheet" href="{{ baseURL }}/css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ baseURL }}/css/nblog.css">
	<link rel="stylesheet" href="{{ baseURL }}/own/R.css?v=1.0.0">
	{% block head %}{% endblock %}
</head>
<body>


<header>


{% block header %}
	<div>
		<ul class="login-info">
			{% if (login) %}
				<li><a href="{{ baseURL }}/user"><i class="fa fa-user"> </i> {{ login }}</a></li>
				<li><a href="{{ baseURL }}/user/setup">参数设置</a></li>
				<li><a href="{{ baseURL }}/logout">退出</a></li>
			{% else %}
			<li><a href="{{ baseURL }}/regist">注册</a></li>
			<li><a href="{{ baseURL }}/login">登录</a></li>
			{% endif %}
		</ul>
		<img src="{{ baseURL }}/images/logo-red.png" alt="China FreeBSD">
		<ul class="navigation">
			<li><a href="{{ baseURL }}/">首页</a></li>
			<li><a href="{{ baseURL }}/admin">管理</a></li>
			<li><a href="{{ baseURL }}/admin/install">安装</a></li>
			<li><a href="{{ baseURL }}/admin/userlist">用户列表</a></li>

			<li><a href="{{ baseURL }}/article/list">文章列表</a></li>
			<li><a href="{{ baseURL }}/article/edit">文章编辑</a></li>

			|
			<li><a href="{{ baseURL }}/user">用户主页</a></li>

			<li><a href="{{ baseURL }}/regist">注册</a></li>
			<li><a href="{{ baseURL }}/login">登录</a></li>

		</ul>
	</div>
{% endblock %}
</header>


<div class="flex main-frame">
{% block main %}
	
	<div class="left-frame a-1-1 c-1-3 d-1-4 e-1-5 f-1-6">{% block left %}{% endblock %}</div>
	<div class="right-frame a-1-1 c-2-3 c-3-4 e-4-5 f-5-6">{% block right %}{% endblock %}</div>
	
{% endblock %}
</div>


<!--尾部模板-->
<!-- div class="back-to-top" id="gotop">
	<i class="iconfont icon-top-copy"></i>
</div -->

<footer class="flex b-p-0 c-p-5 d-p-100 e-p-120 text-center">
{% block footer %}
	<div class="a-1-1 footer">
		<span>This Site's Copyright (c) to China FreeBSD 2017-2030. All Rights Reserved.</span>
	</div>
{% endblock %}
</footer>


</body>

<script type="text/javascript" src="{{ baseURL }}/own/R.js"></script>
<script type="text/javascript" src="{{ baseURL }}/js/nblog.js"></script>
{% block script %}{% endblock %}
</html>
