{% extends "forums/layout.html" %}


{% block inMain1 %}

<div class="flex w-100 pb10 small">
	<ul class="hor small m0 p3">
		<li>主题数：{{nums.count}}</li>
		<li>回贴数：{{nums.replysum}}</li>
		<li>用户数：{{usernum}}</li>
	</ul>
	<form class="w200 m0 mr10 input-group">
		<input type="text" name="key" placeholder="关键字">
		<button>搜索</button>
	</form>
	<a href="/user/edit/thread/new" class="btn"><span class="inline-block mt2">发新贴</span></a>
</div>

<div class="flex w-100 li-none border br5 threads">
<section class="a-1-3">
	<h4>最新主题</h4>
	<ul class="m0 p0">
		{% for a in threads %}
		<li>
			<a href="/forums/thread/{{a.threadid}}">{{a.title}}</a>
			<span>{{a.replynum}}</span>
			<span>{{a.addtime}}</span>
		</li>
		{% endfor %}
	</ul>
</section>

<section class="a-1-3">
	<h4>热门主题</h4>
	<ul class="m0 p0">
		{% for a in hotThreads %}
		<li>
			<a href="/forums/thread/{{a.threadid}}">{{a.title}}</a>
			<span>{{a.replynum}}</span>
			<span>{{a.addtime}}</span>
		</li>
		{% endfor %}
	</ul>
</section>
<section class="a-1-3">
	<h4>求贴主题</h4>
	<ul class="m0 p0">
		{% for a in forReply %}
		<li>
			<a href="/forums/thread/{{a.threadid}}">{{a.title}}</a>
			<span>{{a.replynum}}</span>
			<span>{{a.addtime}}</span>
		</li>
		{% endfor %}
	</ul>
</section>
</div>

<div>
	<h3>主题分类</h3>
	<ul class="hor">
		<li><a href="{{baseUrl}}/forums">全部</a></li>
		{% for a in categories %}
		<li><a href="{{baseUrl}}/forums?category={{a.name}}">{{a.name}}</a></li>
		{% endfor %}
	</ul>
</div>

{% endblock %}


{% block toBody %}
<script type="text/javascript" src="/own/Pagination.js"></script>
<script type="text/javascript">
	var oPage = R.id('pagination');
	var pagination = new Pagination({
		container: oPage,
		curPage: oPage.dataset.curpage,
		totItem: oPage.dataset.totitem,
		perItem: oPage.dataset.peritem,
		onclick: function(i){
			location = R.URL().set('page',i);
		},
	});

</script>
{% endblock %}
