{% extends "layout.html" %}


{% block Header %}
<header class="a flex forums">
	<div class="a-1-1 c-1-3 d-1-4 e-1-5 f-1-6 text-middle">
		<figure class="flex">
			<a href="/" title="首页">
				<img src="/images/logo1.png">
			</a>
			<figcaption class="text-middle">
				<a href="/forums" title="全部"><strong>Forums</strong></a>
			</figcaption>
		</figure>
	</div>
	<div class="a-1-1 c-2-3 d-3-4 e-4-5 f-5-6 text-middle">
		<ul class="hor p0">
			<li><a href="{{baseUrl}}/forums">全部</a></li>
			{% for a in categories %}
			<li><a href="{{baseUrl}}/forums?category={{a.name}}">{{a.name}}</a></li>
			{% endfor %}
		</ul>
	</div>
</header>
{% endblock %}


{% block Nav %}




<!--div class="pr20">
<a class="btn block w-100 box" href="{{baseUrl}}/user/edit/thread/new">发新贴</a>
<div class="border r5 pl10 pr10 mt10">
	<p>本论坛遵循开放、自由、互助、分享的原则，讨论FreeBSD相关技术。</p>
	<p>参与本论坛讨论的用户必须遵守中华人民共和国法律法规，不得发布任何违反法律法规的言论。</p>
	<p>用户发布的言论，只代表个人意见和观点，与本论坛无关。</p>
</div>
<form class="input-group">
	<input name="key" placeholder="关键字">
	<button>搜索</button>
</form>
</div-->
{% endblock %}


{% block inMain %}

<div class="w-90 ma mt10 forums">
	{% block inMain1 %}{% endblock %}
</div>
{% endblock %}
