{% extends "forums/layout.html" %}


{% block inMiddle1 %}

<form class="forums-post-form" name="editForm">
	<select name="category">
		<option value="其他">--请选择版块--</option>
		{% for a in categories %}
		<option value="{{a.name}}">{{a.name}}</option>
		{% endfor %}
	</select>
	<input name="title" placeholder="请输入标题">
	<input type="text" name="threadid" hidden="true">
</form>

<div id="thread-editor-toolbar"></div>
<div id="thread-editor-content"></div>
<input type="button" onclick="saveThread()" value="提交">

{% endblock %}


{% block toBody %}
<script type="text/javascript" src="../../../libs/wangEditor-3.0.15/wangEditor.min.js"></script>
<script type="text/javascript">

// var editor = new window.wangEditor('#thread-editor-toolbar', '#thread-editor-content');
var editor = new window.wangEditor('#thread-editor-content');
editor.customConfig.zIndex = 0;
editor.create();

function saveThread() {
	var html = editor.txt.html();

	if (R('[name=title]').value=='') {
		panel('<br><br><br>帖子标题不得为空!', 1500);
	} else {
		R.post('', R.FD('form[name=editForm]').app({content: html}).fd, function(data){
			if (data.status == 200) {
				R('[name=threadid]').value = data.threadid;
			}
			panel('<br><br><br>' + data.msg, 1500);
		},'JSON');
	}
}

</script>
{% endblock %}
