{% extends "forums/layout.html" %}


{% block inRight %}
<article>
	<header>
		<h3>{{thread.title}}</h3>
		<ul class="hor small btl p10">
			<li><a href="/forums?category={{thread.category}}">{{thread.category}}</a></li>
			<li><a href="/forums/user/{{thread.username}}">{{thread.username}}</a></li>
			<li>{{thread.addtime}}</li>
			<li>浏览：{{thread.counter}}</li>
			<li>回贴：{{thread.replynum}}</li>
			<li>{% if USER and (USER.userid==thread.userid or USER.roleid<3) %}
				<a href="/user/edit/thread/{{thread.threadid}}">编辑</a>
				{% endif %}
			</li>
		</ul>
	</header>
	
	{{thread.content}}
	
	<section class="p0">
		<h4 class="hilite"><a href="javascript:renderEditor()">回帖</a></h4>

		<table class="replies">
		<tbody>
		{% for a in replies %}
		<tr>
			<td>
				<div class="userblock">
					<img src="{{a.userphoto}}">
					<h5>{{a.username}}</h5>
					<span class="arrow"><span></span></span>
				</div>
			</td>

			<td>
				<div id="{{a.replyid}}">
					{{a.content}}
				</div>
				<ul class="hor">
					<li>#{{loop.index}}</li>
					<li>{{a.addtime}}</li>
					{% if USER and (USER.roleid<3 or USER.userid==a.userid) %}
					<li><a href="javascript:editReply({{a.replyid}})">编辑</a></li>
					<li><a href="javascript:deleteReply({{a.replyid}})">删除</a></li>
					{% endif %}
				<ul>
			</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</section>

</article>



<form id="replyForm">
	<input type="text" name="threadid" value="{{thread.threadid}}" hidden="true">
	<input type="text" name="replyid" value="-1" hidden="true">
</form>
{% endblock %}





{% block toBody %}
<script type="text/javascript" src="../../../libs/wangEditor-3.0.15/wangEditor.min.js"></script>
<script type="text/javascript">

var editor;

function renderEditor(content){
	panel.create({
		title: '回贴',
		width: 700,
		height: 365,
		bottom: 20,
		textAlign: 'left',
		html: '<div id="reply-editor"></div><button onclick="saveReply()">提交</button>',
		onload: function(){
			editor = new window.wangEditor('#reply-editor');
			editor.customConfig.zIndex = 0;
			editor.create();
		}
	}).show();
	editor.txt.html(content);
}

function editReply(replyid){
	R('[name=replyid]').value = replyid;
	var content = R.id(replyid).innerHTML;
	renderEditor(content);
}

function saveReply() {
	var html = editor.txt.html();

	R.post('', R.FD('#replyForm').app({content: html}).fd, function(data){
		panel.create({
			id:'msg',
			zIndex:99,
			onhide: function(){location.reload()},
		}).setHtml('<br><br><br>' + data.msg).twinkle(1000);
	},'JSON');

}


function update() {


}



</script>
{% endblock %}
