{% extends "layout.html" %}




{% block inLeft %}
	{% include "public/site-navigation.html" %}

{% endblock %}


{% block inRight %}
<h4>您所浏览的类别 >> {{categoryName}}</h4>

<ul id="list" class="none"></ul>

<span id="pagination" data-peritem="{{pages.perItem}}" data-totitem="{{pages.totItem}}"></span>
{% endblock %}



{% block toBody %}
<script type="text/javascript" src="../../../own/Pagination.js"></script>
<script type="text/javascript">

var pagination = new Pagination({
	container: '#pagination',
	perItem: R.id('pagination').dataset.peritem,
	totItem: R.id('pagination').dataset.totitem,
	onclick: function(i){get(i)},
});



function get(page) {
	R.post('', {page: page}, function(data) {

		var ul = R.id('list'),
			ds = data.articles;
		ul.innerHTML = '';

		for (var i=0; i<ds.length; i++) {
			var t = ds[i][2]=='' ? ds[i][1] : ds[i][2];

			ul.appendChild(R.ce('li', {
				innerHTML: '<a href="../' + ds[i][0] + '">' + t + '</a>',
			}));
		
		}
	}, 'JSON');
}
get(1);

</script>
{% endblock %}
