{% extends "user/layout.html" %}





{% block inRight %}
<h3>文档管理</h3>

<form id="searchForm" class="inline-block mr50 mt0">


	<select name="status" onchange="getArticles(1)">
		<option value="">-- 所有状态 --</option>
		<option value="公开">公开</option>
		<option value="隐藏">隐藏</option>
		<option value="删除">删除</option>
	</select>

	<select name="category" onchange="getArticles(1)">
		<option value="">-- 所有类别 --</option>
		{% for category in categories %}
		<option value="{{category}}">{{category}}</option>
		{% endfor %}
	</select>

	<select name="range">
		<option value="title">标题</option>
		<option value="content">内容</option>
		<option value="keywords">关键字</option>
	</select>
	<input type="text" name="key" placeholder="search">
	<input type="text" name="page" value="1" hidden="true">
</form>


<form name="setForm" class="inline-block mt0">
	<select id="status">
		<option value="">-- 更改状态 --</option>
		<option value="公开">公开</option>
		<option value="隐藏">隐藏</option>
		<option value="删除">删除</option>
	</select>

	<select id="category">
		<option value="">-- 更改类别 --</option>
		{% for category in categories %}
		<option value="{{category}}">{{category}}</option>
		{% endfor %}
	</select>
	<input type="button" onclick="dowork()" value="批量设定"/>
</form>


<form id="idsForm" class="mt0">
	<table id="articleTable" class="article">
		<thead>
			<tr>
				<th><input type="checkbox" id="checkall"></th>
				<th>标题</th>
				<th>状态</th>
				<th>类别</th>
				<th>点击</th>
				<th>添加时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="articles">
			<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
		</tbody>
	</table>
</form>

<span id="pagination" data-peritem={{pages.perItem}}></span>



{% endblock %}




{% block toBody%}
<script type="text/javascript" src="../../../own/Pagination.js"></script>
<script type="text/javascript">

R.id('section-1').checked = true;
R.CHK('[name=ids]').to('#checkall');
R.ONE('[name=key]').enter(function(){getArticles(1)});
R.one('[name=key]').focus();


var pagination = new Pagination({
	container: '#pagination',
	perItem: 	R.id('pagination').dataset.peritem,
	onclick: 	function(i){ getArticles(i) },
});
pagination.hide();


getArticles(1);

function getArticles(page) {
	R('[name=page]').value = page;

	R.post('', R.fd('#searchForm'), function(data) {
		pagination.reset(data.pages);
		pagination.show();

		var tbody = R.id('articles');
		tbody.innerHTML = '';
		var articles = data.articles;
		if (!articles) return;

		for (var i=0; i<articles.length; i++) {
			var ca = articles[i],
				tr = R.ce('tr');
			tbody.appendChild(tr);

			tr.appendChild(R.ce('td', {
				innerHTML: '<input type="checkbox" name="ids" value="'+ca[0]+'"/>'
			}));
			tr.appendChild(R.ce('td', {
				innerHTML: '<a href="../../article/'+ca[0]+'">'+ca[1]+'</a>'
			}));
			tr.appendChild(R.ce('td', {innerHTML: ca[2]}));
			tr.appendChild(R.ce('td', {innerHTML: ca[3]}));
			tr.appendChild(R.ce('td', {innerHTML: ca[4]}));
			tr.appendChild(R.ce('td', {innerHTML: ca[5]}));
			tr.appendChild(R.ce('td', {
				innerHTML: '<a href="../../user/edit/'+ca[0]+'">编辑</a>'
			}));

//				articleid,title,status,category,addtime,counter
		}
	}, 'json');
}


function dowork() {
	var ids = R.CHK('[name=ids]').val(),
		sta = R('#status').value,
		cat = R('#category').value
	if(R.empty(ids)){
		panelMsg('请选择文档!');
		return;
	} else if (R.empty(sta) && R.empty(cat)) {
		panelMsg('请选择操作!');
		return;
	}
	R.put('', {
		ids: 	  ids,
		status:   sta,
		category: cat,
	}, function(data){
		if (data=='批量操作成功!') {
			if (!R.empty(sta)) {
				R.ALL('[name=ids]:checked').each(function(a){
					a.parentNode.parentNode.children[2].innerHTML=sta})
			}
			if (!R.empty(cat)) {
				R.ALL('[name=ids]:checked').each(function(a){
					a.parentNode.parentNode.children[3].innerHTML=cat})
			}
		}



		panelMsg(data);
	});

}




</script>



{% endblock %}