{% extends "user/layout.html" %}





{% block inRight %}

<h2>用户文档管理</h2>

<table>
	<thead>
		<tr><th>标题</th><th>状态</th><th>上传时间</th></tr>
	</thead>
	<tbody>
		{% for article in articles %}
		<tr>
			<td>{{article.title}}</td>
			<td>{{article.status}}</td>
			<td>{{article.addtime}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}






{% block toBody%}
<script type="text/javascript">
	R.id('section-1').setAttribute('checked', 'true');

</script>



{% endblock %}