
<div class="accordion">
	<div class="section">
		<input type="radio" name="accordion-1" id="section-1" value="toggle"/>
		<label for="section-1"><span>参数设置</span></label>
		<div class="content">
			<ul>
				<li><i class="fa fa-inbox"></i><span><a href="#">用户信息</a></span></li>
				<li><i class="fa fa-share"></i><span><a href="{{baseURL}}/user/manage/renewpwd">修改密码</a></span></li>
				<li><i class="fa fa-archive"></i><span><a href="#">模板设定</a></span></li>
			</ul>
		</div>
	</div>
	<div class="section">
		<input type="radio" name="accordion-1" id="section-2" value="toggle" checked="checked"/>
		<label for="section-2"><span>文档管理</span></label>
		<div class="content">
			<ul>
				<li><i class="fa fa-cog"></i><span><a href="#">文档列表</a></span></li>
				<li><i class="fa fa-group"></i><span>首页</span></li>
				<li><i class="fa fa-sitemap"></i><span>Visitation</span></li>
			</ul>
		</div>
	</div>
	<div class="section">
		<input type="radio" name="accordion-1" id="section-3" value="toggle"/>
		<label for="section-3"><span>Scroller</span></label>
		<div class="content">
			<ul>
				<li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
				<li><i class="fa fa-coffee"></i><span>Need Coffee    </span></li>
				<li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
				<li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
				<li><i class="fa fa-coffee"></i><span>Need Coffee    </span></li>
				<li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
				<li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
				<li><i class="fa fa-coffee"></i><span>Need Coffee    </span></li>
				<li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
			</ul>
		</div>
	</div>
	<div class="section">
		<input type="radio" name="accordion-1" id="section-4" value="toggle"/>
		<label for="section-4"><span>系统管理</span></label>
		<div class="content">
			<ul>
				<li><i class="fa fa-cog"></i><span><a>文档列表</a></span></li>
				<li><i class="fa fa-group"></i><span>首页</span></li>
				<li><i class="fa fa-sitemap"></i><span>Visitation</span></li>
			</ul>
		</div>
	</div>
</div>

