{% extends "layout.html" %}

{% block title %} KindEditor {% endblock%}

{% block toHead %}
	<link rel="stylesheet" href="{{baseURL}}/js/kindeditor/themes/default/default.css" />
	<style>
		html, body {margin: 0;}
		main.a {padding: 0 6px;}
		input[name=title],
		input[name=alias],
		input[name=caption],
		input[name=thumb], 
		textarea[name=caption] { width: 100%; box-sizing: border-box;}
		textarea[name=caption] { height:80px; }
		select,
		input[name=category] { width: 120px; }
		input[type=text]{padding:5px;}

		form[name=editForm] {overflow: hidden;}
		form[name=editForm] > p {margin:6px 0;}
		form[name=editForm] > p:first-child { margin: 0; }
		form[name=editForm] img { width: 200px; height: 150px; cursor: pointer; }

		.panel ul.text-left li { margin: 5px; }





		.ke-icon-bsdh1 {
			background-image: url({{baseURL}}/images/bsd.png);
			background-position: 0, 0;
			width: 24px;
			height: 16px;
		}
		.ke-icon-bsdbox {
			background-image: url({{baseURL}}/images/bsd.png);
			background-position: -24px, 0;
			width: 24px;
			height: 16px;
		}
		.ke-icon-bsdfmt{
			background-image: url({{baseURL}}/images/bsd.png);
			background-position: -48px, 0;
			width: 24px;
			height: 16px;
		}
		.ke-icon-bsdclear{
			background-image: url({{baseURL}}/images/bsd.png);
			background-position: -72px, 0;
			width: 24px;
			height: 16px;
		}
		.ke-icon-bsdhelp{
			background-image: url({{baseURL}}/images/bsd.png);
			background-position: -96px, 0;
			width: 24px;
			height: 16px;
		}


	</style>
{% endblock %}

{% block Header %}
<header class="a flex">
	<div class="a-1-1 d-1-3 e-1-4 f-1-5 text-center">
		<h3 class="white">添加 / 修改文章</h3>
	</div>
	<div class="a-1-1 d-2-3 e-3-4 f-4-5 text-middle">
		<ul class="pl10">
			<li><a href="{{baseURL}}/"><i class="iconfont icon-home"></i> 首页</a></li>
			<li><a href="javascript:panelHelp()"><i class="iconfont icon-home"></i> 帮助</a></li>

			<li class="float-right"><a href="{{baseURL}}/logout">退出</a></li>
			<li class="float-right"><a href="{{baseURL}}/user/manage">管理</a></li>
			<li class="float-right"><a href="{{baseURL}}/user/article/edit/new">添加</a></li>
			<li class="float-right"><a href="{{baseURL}}/user"><i class="iconfont icon-seeuser"> </i> {{login}}</a></li>
		</ul>
	</div>
</header>
{% endblock %}


{% block Nav %}{% endblock %}


{% block Main %}
<main class="a b flex">
	<div class="left a-1-1 d-1-3 e-1-4 f-1-5">
		<form name="editForm">
			<p>
				<label>
					状态：
					<select name="status" data-val="{{article.status}}">
						<option value="公开" selected="true">公开</option>
						<option value="隐藏">隐藏</option>
						<option value="删除">删除</option>
					</select>
				</label>
				<select name="category" class="float-right" data-val="{{article.category}}">
					<option value="未分类">--请选择类别--</option>
					{% for category in categories %}
					<option value="{{category}}">{{category}}</option>
					{% endfor %}
				</select>
			</p>
			<p>

				<label>标题：</label>
				<input name="title" type="text" value="{{article.title}}" required="required" placeholder="必填" />
			</p>
			<p><label>别名：<input name="alias" type="text" value="{{article.alias}}"></label></p>
			<p><label>摘要：<textarea name="caption">{{article.abstract}}</textarea></label></p>
			<p>
				<input type="text" name="keywords" class="float-right" placeholder="关键字" />
				<label>电子书格式：<input type="checkbox" name="isbook" /></label>
			</p>
			<p>
				<label>微缩图：</label>
				<input type="text" name="thumb" value="{{article.thumb}}" data-maxnum="{{maxnum}}" data-baseurl="{{baseURL}}" readonly="true" title="双击此框，上传或更换微缩图，尺寸200x150" />
			</p>
			<p class="text-center" style="height: 150px;">
				<img id="thumbimg" src="{{baseURL}}{{article.thumb}}" title="双击图片随机更换微缩图" />
			</p>
			<p>
				<input type="button" name="save" value="保存" class="float-right" />
			</p>

			<input type="text" name="articleid" value="{{article.articleid}}" class="hide" />
		</form>
	</div>

	<div class="right a-1-1 d-2-3 e-3-4 f-4-5">
		<form name="editForm">
			<textarea name="content" style="width:100%; height:530px; box-sizing:border-box; visibility:hidden;">
				{{article.content}}
			</textarea>
		</form>
	</div>
</main>
{% endblock %}




{% block toBody %}
<script src="{{baseURL}}/js/kindeditor/kindeditor-all.js"></script>
<script src="{{baseURL}}/js/kindeditor/plugins/code/prettify.js"></script>
<script type="text/javascript">

var oStatus = R('select[name="status"]');
var oCategory = R('select[name="category"]');
R.ONE(oStatus).setSelect(oStatus.dataset.val);
R.ONE(oCategory).setSelect(oCategory.dataset.val);


KindEditor.lang({
	bsdh1:  'BSD标题',
	bsdbox: 'BSD提示框',
	bsdfmt: 'BSD特殊格式',
	bsdclear: '清除当前样式',
	bsdhelp:'BSD样式使用帮助', 
});

KindEditor.plugin('bsdclear', function(K) {
	var self = this, name = 'bsdclear';
	self.clickToolbar(name, function() {
		self.insertHtml(self.selectedHtml().replace(/<(?:.|\s)*?>/g,""));
	});
});

KindEditor.plugin('bsdhelp', function(K) {
	var self = this, name = 'bsdhelp';
	self.clickToolbar(name, function() {

		alert('建设中');
	});
});

KindEditor.plugin('bsdh1', function(K) {
	var self = this, name = 'bsdh1';
	function click(value) {

		
		var body = self.edit.doc.body,
			scrollTop = body.scrollTop;


		self.exec('formatblock', '<' + value + '>').hideMenu();

		var range = self.cmd.range;
		range.startContainer.className = 'title';
		body.scrollTop = scrollTop;

		return;


		var cmd = self.cmd;
//		self.select().exec('formatblock', '<h2>').hideMenu();
		cmd.wrap(value).select();
		cmd.select();
		self.hideMenu();
	}
	self.clickToolbar(name, function() {
		var menu = self.createMenu({
			name : name,
			width : 150
		});
		menu.addItem({
			title : '章节主标题',
			click : function() {click('h2');}
		});
		menu.addItem({
			title : '章节二级标题',
			click : function() {click('h3');}
		});
		menu.addItem({
			title : '章节三级标题',
			click : function() {click('h4');}
		});		
		menu.addItem({
			title : '章节四级标题',
			click : function() {click('h5');}
		});
		menu.addItem({
			title : '章节五级标题',
			click : function() {click('h6');}
		});
		menu.addItem({
			title : '正文',
			click : function() {
				self.select().exec('formatblock', '<p>').hideMenu();
				self.cmd.range.startContainer.removeAttribute('class');
			}
		});

	});
});


KindEditor.plugin('bsdbox', function(K) {
	var self = this, name = 'bsdbox';
	function click(value) {
		var cmd = self.cmd;
		cmd.wrap(value);
		cmd.select();
		self.hideMenu();

		/*去掉框内首空行*/
		var c = self.cmd.range.startContainer;
		c.innerHTML = c.innerHTML.replace(/<p><br.*><\/p>/i, '');
	}
	self.clickToolbar(name, function() {
		var menu = self.createMenu({
			name : name,
			width : 150
		});
		menu.addItem({
			title : '框内标题',
			click : function() {
				click('<h3 class="admontitle"></h3>');

			// 	return;

			// 	var _ua = navigator.userAgent.toLowerCase(),
			// 		_IE = _ua.indexOf('like gecko') > -1 && _ua.indexOf('opera') == -1;
				
			// 	if (_IE) {	/* IE 11.0 tested. */
			// 		self.insertHtml('<h3 class="admontitle">'+self.selectedHtml().replace(/<\/?p>/gi,'') +'</h3>').hideMenu();
			// 	} else {
			// 		self.exec('formatblock', '<h3>').hideMenu();
			// 		self.cmd.range.startContainer.className = 'admontitle';
			// 	}
			}
		});
		menu.addItem({
			title : '重要提示框',
			click : function() {click('<div class="important"></div>');}
		});
		menu.addItem({
			title : '注意提示框',
			click : function() {click('<div class="note"></div>');}
		});
		menu.addItem({
			title : '警告提示框',
			click : function() {click('<div class="warning"></div>');}
		});
		menu.addItem({
			title : '示例提示框',
			click : function() {click('<div class="example"></div>');}
		});
		menu.addItem({
			title : '技巧提示框',
			click : function() {click('<div class="tip"></div>');}
		});
		menu.addItem({
			title : '小心提示框',
			click : function() {click('<div class="caution"></div>');}
		});
		menu.addItem({
			title : '命令输出框',
			click : function() {click('<div class="screen"></div>');}
		});
		menu.addItem({
			title : '命令行格式',
			click : function() {
				// self.insertHtml('<b>'+self.selectedHtml() +'</b>').hideMenu();
				// return;

				click('<b></b>');}
		});

	});
});


KindEditor.plugin('bsdfmt', function(K) {
	var self = this, name = 'bsdfmt';
	function click(value) {
		var cmd = self.cmd;
		cmd.wrap(value).select();
		cmd.select();
		self.hideMenu();
	}
	self.clickToolbar(name, function() {
		var menu = self.createMenu({
			name : name,
			width : 150
		});
		menu.addItem({
			title : '作者',
			click : function() {click('<span class="authorgroup"></span>');}
		});
		menu.addItem({
			title : '软件包',
			click : function() {click('<span class="package"></span>');}
		});
		menu.addItem({
			title : '文件名',
			click : function() {click('<span class="filename"></span>');}
		});		


	});
});





var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name=content]', {
		cssPath : 		['../../../own/R.css',
						 '../../../css/nblog.css',
						 '../../../css/docbook.css'
						],
		uploadJson : 		'../../../js/kindeditor/php/upload_json.php',
		fileManagerJson : 	'../../../js/kindeditor/php/file_manager_json.php',
		allowFileManager : true,
		cssData: 'html {background:#FBFBFB; height:100%;}\
				  body{ background: #fff;\
					border:1px solid #CCCCCC;\
					height:auto; min-height:calc(100% - 122px);\
					margin:30px 4%;\
					padding:30px 6%;\
				}',
		items : ['source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
		'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
		'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
		'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
		'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
		'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
		'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
		'anchor', 'link', 'unlink', '|', 'about','/',
		'bsdh1', 'bsdbox', 'bsdfmt', 'bsdclear', 'bsdhelp'],
	});


	K('input[name=thumb]').click(function() {
		editor.loadPlugin('image', function() {
			editor.plugin.imageDialog({
				imageUrl : K('input[name=thumb]').val(),
				clickFn : function(url, title, width, height, border, align) {
					editor.hideDialog();
					K('input[name=thumb]').val(url);
					K('#thumbimg').attr('src', url);
				}
			});
		});
	});

	K('#thumbimg').dblclick(setThumbImg);
	K('input[name=save]').click(save);
});


function setThumbImg() {
	var oThumb = R('input[name="thumb"]');
	var max = parseInt(oThumb.dataset.maxnum);
	var rnd = Math.ceil(Math.random()*max);
	var src = '/thumbs/' + rnd + '.jpg';
	oThumb.value = src;
	R.id('thumbimg').src = oThumb.dataset.baseurl + src;
}
if (R('input[name="thumb"]').value=='') setThumbImg();



function panelHelp() {
	if (window._panelHelp && window._panelHelp.panel) {
		window._panelHelp.show();
	} else {
		window._panelHelp = new Panel({
			title: '帮助',
			width: 500,
			height: 300,
			html: '<ul class="text-left">\
				<li>列表显示文章时，别名优先标题显示。</li>\
				<li>单击微缩图文本框，上传或选择更换微缩图。</li>\
				<li>双击微缩图，可在微缩图库中随机更换。</li>\
			',
		});
	}
}




function save() {
	R.post('../save', R.FD('form[name=editForm]').app({content: editor.html()}).fd, function(data){
		if (data.status == 200) {
			R('[name=articleid]').value = data.articleid;
			panelMsg(data.msg);
		}
	},'JSON');
}

R.move();
R('input[name="title"]').focus();


</script>
{% endblock %}