{% extends "layout.html" %}



{% block inLeft %}


<section class="text-center">
	<img src="{{userphoto}}" />
</section>


<section>
	<select>
		<option value="title">标题</option>
		<option value="keywords">关键字</option>
		<option value="content">内容</option>
	</select>
	<input type="text" name="mysearch" placeholder="我的搜索" />
</section>


<section class="category">
	<a href="{{baseURL}}/user/article/"><h3>我的类别</h3></a>
	<ul class="hor p0">
		{% for category in categories%}
		<li><a href="{{baseURL}}/user/article/{{category}}">{{category}}</a></li>
		{% endfor %}
	</ul>
</section>
{% endblock %}





{% block inRight %}

<h2>My Articles</h2>

<ul class="none">
{% for article in articles %}
	<li><a href='{{baseURL}}/article/{{article.articleid}}'>{{article.title}}</a></li>
{% endfor %}
</ul>
{% endblock %}


	

