{% extends "layout.html" %}



{% block inLeft %}	<!-- ************************************************************* -->
<h3>我的类别</h3>
<ul>
	{% for category in categories%}
	<li><a href="#">{{ category }}</a></li>
	{% endfor %}
</ul>
{% endblock %}




{% block inRight %}	<!-- ************************************************************* -->

<h2>My Articles</h2>

{% for article in articles %}
	<li><a href='{{ baseURL }}/article/{{ article.articleid }}'>{{ article.title }}</a></li>
{% endfor %}

{% endblock %}


	

