{% extends "layout.html" %}

{% block toHead %}
	<link rel="stylesheet" href="../../css/edit.css"/>
	{% block toHead1 %}{% endblock %}
{% endblock %}

{% block Header %}{% endblock %}
{% block Nav %}{% endblock %}

{% block Main %}
<main class="a edit flex">
	<div class="left vflex a-1-1 c-1-5">
		<h3 class="vflex0">添加 / 修改文章</h3>
		<form name="editForm" class="vflex1">
			<input type="text" id="baseURL" value="{{baseURL}}" hidden="true">
			<input type="text" name="articleid" value="{{article.articleid}}" hidden="true">
			<p>
				<label>
					状态：
					<select name="status" data-val="{{article.status}}">
						<option value="公开" selected="true">公开</option>
						<option value="隐藏">隐藏</option>
						<option value="删除">删除</option>
					</select>
				</label>
				<select name="category" class="margin-left-auto" data-val="{{article.category}}">
					<option value="其他">--请选类别--</option>
					{% for category in categories %}
					<option value="{{category}}">{{category}}</option>
					{% endfor %}
				</select>
			</p>
			<p>
				<label>标题：</label>
				<input class="flex-auto" name="title" type="text" value="{{article.title}}" required="required" placeholder="必填" />
			</p>
			<p>
				<label>别名：</label>
				<input name="alias" type="text" value="{{article.alias}}">
			</p>
			<p>
				<label>摘要：</label>
				<textarea name="caption">{{article.caption}}</textarea>
			</p>
			<p>
				<label>关键字：</label>
				<input type="text" name="keywords" value="{{article.keywords}}" />
				
			</p>
			<P>
				<label><a href="javascript:loadImgPlugin()">微缩图</a>：</label>
				<input type="text" name="thumb" value="{{article.thumb}}" data-maxnum="{{maxnum}}" data-baseurl="{{baseURL}}" title="尺寸200x150" onchange="setImage()" />
			</p>
			<div class="text-center p10">
				<img id="thumbimg" src="{% if article.thumb %}{{baseURL}}{{article.thumb}}{% else %}../../images/noimage.png{% endif %}"/>
			</div>
			
			<p>
				<label>编辑器切换：</label>
				<ul>
					<li><a href="javascript:switchEditor('?trumbowyg')">Trumbowyg编辑器</a></li>
					<li><a href="javascript:switchEditor('?wangeditor')">WangEditor编辑器</a></li>
<!-- <li><a href="javascript:switchEditor('?kindeditor')">KindEditor编辑器</a></li> -->
				</ul>
			</p>
		</form>
	</div>


	<div class="right vflex a-1-1 c-4-5">

		<div id="editor-head" class="vflex0">
			
			<div id="editor-head1" class="flex">
				<ul class="dropdown">
					<li><a href="javascript:save()">保存</a></li>
					<li><a href="javascript:previewArticle()">预览</a></li>
					<li><a href="javascript:void(0)">标题▾</a>
						<ul>
							<li><a href="javascript:wrap('h2', 'title', true)"><h2 class="title">章节主标题</h2></a></li>
							<li><a href="javascript:wrap('h3', 'title', true)"><h3 class="title">章节二级标题</h3></a></li>
							<li><a href="javascript:wrap('h4', 'title', true)"><h4 class="title">章节三级标题</h4></a></li>
							<li><a href="javascript:wrap('h5', 'title', true)"><h5 class="title">章节四级标题</h5></a></li>
							<li><a href="javascript:wrap('h6', 'title', true)"><h6 class="title">章节五级标题</h6></a></li>
							<li><a href="javascript:clearHTML()">正文</a></li>
						</ul>
					</li>
					<li><a href="javascript:void(0)">彩框▾</a>
						<ul>
							<li><a href="javascript:wrap('h3', 'admontitle', true)"><h3 class="admontitle">框内标题</h3></a></li>
							<li><div class="important"><a href="javascript:wrap('div','important')">重要框</a></div></li>
							<li><div class="note"><a href="javascript:wrap('div','note')">注意框</a></div></li>
							<li><div class="warning"><a href="javascript:wrap('div','warning')">警告框</a></div></li>
							<li><div class="example"><a href="javascript:wrap('div','example')">示例框</a></div></li>
							<li><div class="tip"><a href="javascript:wrap('div','tip')">技巧框</a></div></li>
							<li><div class="caution"><a href="javascript:wrap('div','caution')">小心框</a></div></li>
							<li><pre class="programlisting"><a href="javascript:wrap('pre','programlisting')">程序框</a></pre></li>
							<li><pre class="screen"><a href="javascript:wrap('pre','screen')">命令框</a></pre></li>
							<li><strong class="userinput"><code><a href="javascript:setUserInput()">命令行</a></code></strong></li>
						</ul>
					</li>
					<li><a href="javascript:void(0)">格式▾</a>
						<ul>
							<li><a href="javascript:wrap('span', 'authorgroup', true)"><span class="authorgroup">作者</span></a></li>
							<li><span class="package"><a href="javascript:wrap('span', 'authorgroup', true)">软件包</a></span></li>
							<li><a href="javascript:wrap('span', 'filename', true)"><span class="filename">文件名</span></a></li>
						</ul>
					</li>
					<li><a href="javascript:void(0)">选区▾</a>
						<ul>
							<li><a href="javascript:clearHTML()">清除HTML</a></li>
							<li><a href="javascript:pToBr()">&lt;p&gt;改为&lt;br&gt;</a></li>
							<li><a href="javascript:margeBr()">合并&lt;br&gt;</a></li>
							<li><a href="javascript:preToProgramlisting()">&lt;pre&gt;改为程序框</a></li>
							<li><a href="javascript:preToScreen()">&lt;pre&gt;改为命令框</a></li>
							
						</ul>
					</li>
					<li><a href="javascript:void(0)">注释▾</a>
						<ul>
							<li>
								<a href="javascript:insertCallout(1)">
									<img src="../../imagelib/callouts/1.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(2)">
									<img src="../../imagelib/callouts/2.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(3)">
									<img src="../../imagelib/callouts/3.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(4)">
									<img src="../../imagelib/callouts/4.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(5)">
									<img src="../../imagelib/callouts/5.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(6)">
									<img src="../../imagelib/callouts/6.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(7)">
									<img src="../../imagelib/callouts/7.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(8)">
									<img src="../../imagelib/callouts/8.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(9)">
									<img src="../../imagelib/callouts/9.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(10)">
									<img src="../../imagelib/callouts/10.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(11)">
									<img src="../../imagelib/callouts/11.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(12)">
									<img src="../../imagelib/callouts/12.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(13)">
									<img src="../../imagelib/callouts/13.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(14)">
									<img src="../../imagelib/callouts/14.png">
								</a>
							</li>
							<li>
								<a href="javascript:insertCallout(15)">
									<img src="../../imagelib/callouts/15.png">
								</a>
							</li>
						</ul>
					</li>
					<li><a href="javascript:help()">帮助</a></li>
				</ul>

				<ul class="hor">
					<li><a href="../../">首页</a></li>
					<li><a href="../../user">主页</a></li>
					<li><a href="javascript:addArticle()">添加</a></li>
				</ul>
			</div>

			<div id="editor-head2">
				{% block EditorHead %}{% endblock %}
			</div>
		</div>

		<div id="editor-body" class="vflex1 flex">
			{% block Editor %}{% endblock %}
		</div>
	</div>
</main>
{% endblock %}
{% block Footer %}{% endblock %}

{% block toBody %}
<script type="text/javascript" src="../../js/edit.js"></script>
{% block toBody1 %}{% endblock %}
{% endblock %}