{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ baseURL }}/css/aside-nav-bar.css?v=1.0.0">
{% endblock %}


{% block header %}{% endblock %}

{% block main %}
<div class="flex admin-page">
		<div class="a-1-1 c-1-4 d-1-5 f-1-6 left-frame">
			{% include "user/aside.html" %}
		</div>



		<div class="a-1-1 c-3-4 d-4-5 f-5-6 right-frame">
			<header>
				<span class="float-right">
					<a href="{{ baseURL }}/user"><i class="iconfont icon-seeuser"></i> {{ login }}</a>
				</span>
				<ul>
					<li><a href="{{ baseURL }}/"><i class="iconfont icon-home"></i> 首页</a></li>
					<li><a href="{{ baseURL }}/user/article/edit/"><i class="iconfont icon-home"></i> 添加文档</a></li>
					<li><a href="javascript:panelHelp()"><i class="iconfont icon-home"></i> 帮助</a></li>
				</ul>
				
			</header>


			<h2>My Articles (登录成功)</h2>

<!-- 			{% for article in articles %}
				<li><a href='{{ baseURL }}/article/{{ article.articleid }}'>{{ article.title }}</a></li>
			{% endfor %} -->


		</div>

</div>


	



	


{% endblock %}