{% extends "user/layout-edit.html" %}



{% block toHead1 %}
<link rel="stylesheet" href="../../libs/Trumbowyg/dist/ui/trumbowyg.min.css"/>
<style>
	#editor { height: calc(100% - 18px); }
</style>
{% endblock %}



{% block Editor %}
	<div id="editor">{% autoescape false %}{{article.content}}{% endautoescape %}</div>
{% endblock %}


{% block toBody1 %}
<script type="text/javascript" src="../../libs/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../libs/Trumbowyg/dist/trumbowyg.js"></script>
<script type="text/javascript" src="../../libs/Trumbowyg/dist/langs/zh_cn.min.js"></script>
<script type="text/javascript" src="../../js/trumbowyg.js"></script>
{% endblock %}