{% extends "user/layout-edit.html" %}



{% block toHead %}
<link rel="stylesheet" href="../../libs/Trumbowyg/dist/ui/trumbowyg.min.css"/>
<style>
	#editor {
		height: calc(100vh - 110px);
	}

</style>
{% endblock %}



{% block Editor %}
{% autoescape false %}
	<div id="editor">{{article.content}}</div>
{% endautoescape %}
{% endblock %}


{% block toBody1 %}
<script type="text/javascript" src="../../libs/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../libs/Trumbowyg/dist/trumbowyg.js"></script>
<script type="text/javascript" src="../../libs/Trumbowyg/dist/langs/zh_cn.min.js"></script>
<script type="text/javascript" src="../../js/trumbowyg.js"></script>
{% endblock %}