{% extends "user/layout-edit.html" %}



{% block toHead1 %}
<style>
	.panel {z-index:10003;}
	.w-e-text,
	#editor-source {padding:10px !important;}

</style>
{% endblock %}



{% block EditorHead %}

		<div id="editor-title"></div>

{% endblock %}


{% block Editor %}
<div id="editor-content" class="a-1-1 c-1-2"></div>
<textarea id="editor-source" class="a-1-1 c-1-2 border-box">{{article.content}}</textarea>
{% endblock %}




{% block toBody1 %}
<script type="text/javascript" src="../../../libs/wangEditor-3.0.15/wangEditor.min.js"></script>
<script type="text/javascript" src="../../../js/wangEditor.js"></script>
{% endblock %}
